[submodule "ODIN-recipes"]
	path = ODIN-recipes
	url = https://github.com/JJDED/ODIN-recipes.git
[submodule "css-exercises"]
	path = css-exercises
	url = https://github.com/JJDED/css-exercises.git
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = https://github.com/JJDED/odin-landing-page.git
